@charset "utf-8";

/*
    Gus & Luz RSVP Stylesheet
    Author: Jose Sanchez
    Date: 2/11/2026

    Filename: gl_styles2.css
*/

/* Font Styles */
.corinthia-regular {
  font-family: "Corinthia", cursive;
  font-weight: 400;
  font-style: normal;
}

.corinthia-bold {
  font-family: "Corinthia", cursive;
  font-weight: 700;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Slide-in Animation */
.english {
    opacity: 0;
    transform: translateX(-50px);
    animation: slideIn 1.3s ease forwards;
}

.spanish {
    opacity: 0;
    transform: translateX(50px);
    animation: slideIn 1.3s ease forwards;
}

.logo {
    opacity: 0;
    transform: translateY(-50px);
    animation: slideIn 1.3s ease forwards;
}

.navigation {
    opacity: 0;
    transform: translateX(50px);
    animation: slideIn 1.3s ease forwards;
}

.intro {
    opacity: 0;
    transform: translateX(50px);
    animation: slideIn 1.3s ease forwards;
}

.title, .location {
    opacity: 0;
    transform: translateX(-50px);
    animation: slideIn 1.3s ease forwards;
}

.rsvp-container {
    opacity: 0;
    transform: translateY(50px);
    animation: slideIn 1.3s ease forwards;
}


@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}



/* HTML & Body Styles */
.mobile-wrapper {
    max-width: 500px;
    min-width: 320px;
    width: 100%;
    margin: 0 auto;
    background: white;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
}

html {
    background-color: #e5f3fc;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Language Button Styles*/
.es {
  display: none;
}

.language-toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 10px 10px;
    justify-content: space-between;
}

.language-toggle button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

.language-toggle .active {
  background-color: #e5f3fc;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px;
}

/* Logo Styles */

.logo {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.logo img{
    display: block;
    max-width: 60%;
    margin: 0 auto;
}

/* Navigation Menu Styles*/
.navigation {
    max-width: 100%;
    margin-bottom: 30px;
}

.navigation ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
    justify-content: center;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 6px 10px;
    color: black;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    margin: 5px 0;
    background-color: #e5f3fc;
    border-radius: 5px;
}

.navigation a:active {
    background-color: #cfedff;
}

/*Title Styles*/
.title {
    text-align: center;
    font-size: 1.8rem;
    text-decoration: underline #e5f3fc;
}

/* Intro Styles */
.intro {
    text-align: center;
    padding: 0 2rem;
    line-height: 2rem;
    font-size: 1.2rem;
}


/* RSVP Styles */
.rsvp-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.rsvp-container iframe {
    width: 100%;
    height: 1150px;
    border: none;
}

/* Footer Styles */
footer {
    text-align: center;
    background-color: #e5f3fc;
    padding: 10px 0;
    border-radius: 20px 20px 0 0;
}

@media (max-width: 400px) {
    .navigation a {
        font-size: 1.2rem;
    }
}